<!--Section: Features v.1-->
<section class="text-center px-5 rtl">

    <!--Section heading-->
    <h3 class="h3 py-5 font-weight-bold animated fadeInUp wow">ویژگی هایی که ما را منحصر به فرد میکند</h3>


    <!--Grid row-->
    <div class="row main">

      <!--Grid column-->
      <div class="col-md-3">
        <img src="../../../assets/icons8-quality-100.png" alt="">
        <h5 class="font-weight-bold mt-3 animated wow slideInUp">کیفیت</h5>
        <p class="grey-text text-center animated wow slideInUp">
          IMS Management Systems , ISO 9001:2008 , OHSAS 18001:2007
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3">
        <img src="../../../assets/icons8-manufacturing-100.png" alt="">
        <h5 class="font-weight-bold mt-3 animated wow slideInUp">تولید</h5>
        <p class="grey-text text-center animated wow slideInUp">تولید با کوره پیشرفته تونلی و دستگاه های تمام رباتیک آلمانی و نیرو های متخصص
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3">
        <img src="../../../assets/icons8-shopping-mall-100.png" alt="">
        <h5 class="font-weight-bold mt-3 animated wow slideInUp">خرید آسان</h5>
        <p class="grey-text text-center animated wow slideInUp">خرید آسان از طریق تلفن 38433178 و ازطریق تلگرام 09360878829
        </p>
      </div>
      <!--Grid column-->
      <div class="col-md-3">
        <img src="../../../assets/icons8-airport-transfer-100.png" alt="">
        <h5 class="font-weight-bold mt-3 animated wow slideInUp">حمل به صورت بسته بندی</h5>
        <p class="grey-text text-center animated wow slideInUp">بارگیری سریع و تخلیه فوری در طبقات بدون ضایعات
        </p>
      </div>
    </div>
    <!--Grid row-->

  </section>
  <!--Section: Features v.1-->
