<div id="div-1">
  <div id="mySidenav" class="sidenav p-2">
    <div>
      <a id="link_1" href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    </div>
    <div class="div-11">
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="...جستجو">
        </div>
      </form>
    </div>

    <div class="dropdown">
      <a type="button" class="dropdown-toggle" data-toggle="dropdown">
        مصالح ساختمانی پایه
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">اجر و سفال</a>
        <a class="dropdown-item" href="#">مصالح پودری و دانه ای</a>
        <a class="dropdown-item" href="#">انواع چسب ساختمانی و ملات خشک و آماده</a>
        <a class="dropdown-item" href="#">فراورده های بتنی و ملزومات</a>
      </div>
    </div>
    <div class="dropdown">
      <a type="button" class="dropdown-toggle" data-toggle="dropdown">
        تاسیسات آب و فاضلاب و گاز
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">لوازم و تجهیزات بهداشتی</a>
        <a class="dropdown-item" href="#">شیر آلات</a>
        <a class="dropdown-item" href="#">گرمایشی ,سرمایشی و تههویه هوا</a>
        <a class="dropdown-item" href="#">لوازم و تجهیزات</a>
      </div>
    </div>
    <div class="dropdown">
      <a type="button" class="dropdown-toggle" data-toggle="dropdown">
        دکوراسیون داخلی و نازک کاری
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">نرده , درب و پنجره</a>
        <a class="dropdown-item" href="#">سرامیک و کف پوش</a>
        <a class="dropdown-item" href="#">کناف و سقف </a>
        <a class="dropdown-item" href="#">کاشی و دیوار پوش</a>
      </div>
    </div>
    <div class="dropdown">
      <a type="button" class="dropdown-toggle" data-toggle="dropdown">
        تجهیزات فضای باز و نما
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">محوطه سازی و نور پردازی</a>
        <a class="dropdown-item" href="#">آبنما و استخر</a>
        <a class="dropdown-item" href="#">نیمکت و آلاچیق</a>
      </div>
    </div>
    <a href="#">درباره ما</a>
    <a href="#">تماس با ما</a>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <img class="img m-2" src="./assets/Logo1.png" alt="notFound">
    </div>
    <div class="sing text-right text-white">
  </div>
    <div class="div-style" (click)="openNav()">&#9776;</div>
  </div>
</div>
<div class="sing2">
  <div class="d-flex">
    <div class="mr-auto">
      <button mdbBtn type="button" color="pink" size="sm" mdbWavesEffect>
        <span class="badge badge-light">0</span>
        <span style="font-size:12px;" class="px-2">سبد خرید</span>
        <mdb-icon fas icon="shopping-basket"></mdb-icon>
      </button>
    </div>
    <div class="px-2">
      <a style="font-size: 12px;font-family: tahoma;"
          routerLink="/sing-in"
          routerLinkActive="active"
          class="text-white text_color">
        <span>عضویت</span>
        <mdb-icon class="pl-1" fas icon="unlock"></mdb-icon>
      </a>
    </div>
    <div>
      <a style="font-size: 12px;font-family: tahoma;"
          routerLink="/sing-up"
          routerLinkActive="active"
          class="text-white text_color">
        <span>ورود</span>
        <mdb-icon class="px-1" fas icon="sign-in-alt"></mdb-icon>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid p-0 dis_n">

    <div class="row top-1">
        <div class="a-link col-sm-4 text-left">
          <a class="text_color" style="font-size: 12px;" href="#" data-toggle="modal" data-target="#myModal">درباره ما</a>
          <span class="px-2">|</span>
          <a class="text_color pl-2" style="font-size: 12px;" href="#">تماس با ما</a>
          <br>
          <div>
            <button mdbBtn type="button" color="pink" size="sm" mdbWavesEffect>
              <span class="badge badge-light">0</span>
              <span style="font-size:12px;" class="px-2">سبد خرید</span>
              <mdb-icon fas icon="shopping-basket"></mdb-icon>
            </button>
          </div>
        </div>
        <div class="col-sm-4 rtl">
            <form style="text-align:center">
                <input class="mt-2 input" type="text" name="search" placeholder="جستجو ...">
            </form>
        </div>
        <div class="col-sm-4 text-right">
            <img class="img pt-1" src="../../../assets/Logo1.png" alt="notFound">
        </div>
    </div>
</div>
<app-main-top></app-main-top>
